<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
  {{ js }}
  {{ css }}
  {{ script }}
</head>
<body>
<section class="hero">
  <div class="hero-body is-primary">
    <h1 class="title">
      Model report for {{ name }}
    </h1>
  </div>
</section>
<section class="section">
  <div class="container">
    {% for metric in metrics %}
      <div id="{{ metric.name }}" class="graph columns">
        {{ metric.html | safe }}
      </div>

      {% if metric.text %}
        <div class="graph-comment columns">
          {{ metric.text }}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</section>
</body>
<style>
  .is-primary {
    background-color: {{ color_scheme.PRIMARY }};
  }
  h1.title {
    color: white;
  }
</style>
</html>